<%- model_class = Periodo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @periodo.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fecha_vencimiento) %>:</strong></dt>
  <dd><%= l @periodo.fecha_vencimiento %></dd>
</dl>
<br>
<br>
<h4> Costos de la cuota </h3>

<table class="table" style="width: 300px;">
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Costo</th>
    </th>
  </thead>
  <tbody>
    <% @periodo.costo_por_categorias.each do |costo_por_categoria| %>
    <tr>
      <td><%= costo_por_categoria.categoria.nombre %></td>
      <td><%= costo_por_categoria.costo.to_s + " $" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to "Liquidar periodo", generar_deuda_path(@periodo), class: "btn" %>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              periodos_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_periodo_path(@periodo), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              periodo_path(@periodo),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
